# EDITORCONFIG
# https://editorconfig.org
# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

# indicate top-most editorconfig file
root = true

# universal rules
[*]
charset = utf-8
continuation_indent_size = 2
curly_bracket_next_line = false
end_of_line = lf
indent_brace_style = BSD
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
quote_type = single
spaces_around_brackets = inside
spaces_around_operators = true
tab_width = 2
trim_trailing_whitespace = true

# handlebars
[*.hbs]
max_line_length = 100

# markdown
[*.md]
max_line_length = 120

# shellscript
[*.sh]
binary_next_line = true
function_next_line = false
keep_comments = true
keep_padding = false
max_line_length = 100
shell_variant = 0
space_redirects = false
switch_case_indent = true

# snapshots
[*.snap]
max_line_length = 130

# xml
[*.xml]
max_line_length = 100

# yaml
[{*.yaml,*.yml}]
max_line_length = 100
