# ESLINT IGNORE
# https://eslint.org/docs/user-guide/configuring/ignoring-code#the-eslintignore-file

# DIRECTORIES & FILES
**/*.patch
**/*.sh
**/*.snap
**/*config.*.timestamp*
**/.DS_Store
**/.temp/
**/__tests__/report.*
**/coverage/
**/dist/
**/node_modules/
**/tsconfig*temp.json
Brewfile
yarn.lock

# NEGATED PATTERNS
!**/.eslintrc*
!**/__fixtures__/**/dist/
!**/__fixtures__/**/node_modules/
!**/typings/**/dist/
!.attw.json
!.codecov.yml
!.commitlintrc.*
!.cspell.json
!.dprint.*
!.github/
!.graphqlrc.yml
!.grease*.*
!.lintstagedrc.json
!.markdownlint.jsonc
!.vscode/
!.yarnrc.yml
!docs/.vitepress/
