# ESLINT IGNORE
# https://eslint.org/docs/user-guide/configuring/ignoring-code#the-eslintignore-file

# DIRECTORIES & FILES
**/*.snap
**/.DS_Store
**/dist/
**/node_modules/
__tests__/report.json
coverage/
docs/.vitepress/.temp/
docs/.vitepress/config.*.timestamp*
yarn.lock

# NEGATED PATTERNS
!.commitlintrc.json
!.cspell.json
!.eslintrc.base.cjs
!.eslintrc.cjs
!.github/
!.graphqlrc.yml
!.lintstagedrc.json
!.markdownlint.jsonc
!.prettierrc.json
!.vscode/
!.yarnrc.yml
!docs/.vitepress/
