# ESLINT IGNORE
# https://eslint.org/docs/user-guide/configuring/ignoring-code#the-eslintignore-file

# DIRECTORIES & FILES
**/*.snap
**/*config.*.timestamp*
**/.DS_Store
**/__tests__/report.json
**/coverage/
**/.temp/
**/dist/
**/node_modules/
**/tsconfig*temp.json
yarn.lock

# NEGATED PATTERNS
!**/.eslintrc*
!**/__fixtures__/**/dist/
!**/__fixtures__/**/node_modules/
!**/typings/**/dist/
!.attw.json
!.codecov.yml
!.commitlintrc.*
!.cspell.json
!.github/
!.graphqlrc.yml
!.lintstagedrc.json
!.markdownlint.jsonc
!.prettierrc.json
!.vscode/
!.yarnrc.yml
!docs/.vitepress/
