# https://docs.npmjs.com/cli/configuring-npm/npmrc

@flex-development:registry=https://npm.pkg.github.com/flex-development
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN:-$PAT_BOT}
//npm.pkg.github.com/:always-auth=true
