# PRETTIER IGNORE
# https://prettier.io/docs/en/ignore.html

# DIRECTORIES & FILES
**/*.hbs
**/*.md
**/*.snap
**/.gitignore
**/.gitkeep
**/.npmignore
.eslintcache
.eslintignore
.husky/_/*
.markdownlintignore
.nvmrc
.prettierignore
.yarn/*
Brewfile
__tests__/report.json
coverage/*
dist/*
node_modules/*
yarn.lock
