# PRETTIER IGNORE
# https://prettier.io/docs/en/ignore.html

# DIRECTORIES & FILES
**/*.hbs
**/*.md
**/*.snap
**/.gitignore
**/.gitkeep
**/.npmignore
**/dist/
**/node_modules/
.eslintcache
.eslintignore
.husky/_/
.markdownlintignore
.nvmrc
.prettierignore
.vercel/
.yarn/
Brewfile
__tests__/report.json
coverage/
docs/.vitepress/.temp/
docs/.vitepress/config.*.timestamp*
yarn.lock
