# PRETTIER IGNORE
# https://prettier.io/docs/en/ignore.html

# DIRECTORIES & FILES
**/*.hbs
**/*.md
**/*.patch
**/*.snap
**/*config.*.timestamp*
**/.temp/
**/.vercel/
**/__tests__/report.json
**/coverage/
**/dist/
**/node_modules/
**/tsconfig*temp.json
.husky/_/
.yarn/
yarn.lock

# NEGATIONS
!**/__fixtures__/**/dist/
!**/__fixtures__/**/node_modules/
!**/typings/**/dist/
